<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Gazebo Fortress (Ignition) plugins for Nav2 -->
  <xacro:macro name="gz_plugins" params="prefix">
    <!-- Sensor Systems -->
    <gazebo>
        <plugin filename="libignition-gazebo-sensors-system.so"
                name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

        <plugin filename="libignition-gazebo-imu-system.so"
                name="ignition::gazebo::systems::Imu">
        </plugin>

        <plugin
            filename="libignition-gazebo-scene-broadcaster-system.so"
            name="ignition::gazebo::systems::SceneBroadcaster">
        </plugin>


        <plugin filename="libignition-gazebo-joint-state-publisher-system.so"
              name="ignition::gazebo::systems::JointStatePublisher">
            <joint_name>left_wheel_joint</joint_name>
            <joint_name>right_wheel_joint</joint_name>
            <topic_name>/joint_states</topic_name>  <!-- Explicit topic name -->
            <update_rate>50</update_rate>  <!-- Match your control rate -->
        </plugin>

    </gazebo>

    
    <!-- Differential Drive Controller -->
    <gazebo>
      <plugin filename="libignition-gazebo-diff-drive-system.so"
              name="ignition::gazebo::systems::DiffDrive">
        <!-- Wheel Configuration -->
        <left_joint>left_wheel_joint</left_joint>
        <right_joint>right_wheel_joint</right_joint>
        <wheel_separation>${wheel_separation}</wheel_separation>
        <wheel_radius>${wheel_radius+0.01}</wheel_radius>
        <update_rate>50</update_rate>

        <!-- Performance Limits -->
        <!-- limits -->
        <!-- <max_linear_acceleration>1.0</max_linear_acceleration>
        <min_linear_acceleration>-1/0</min_linear_acceleration>
        <max_angular_acceleration>1.0</max_angular_acceleration>
        <min_angular_acceleration>-1.0</min_angular_acceleration> -->
        <max_wheel_acceleration>1.0</max_wheel_acceleration>
        <max_wheel_torque>2000</max_wheel_torque>
        
        <!-- Odometry settings -->
        <odom_publish_frequency>50</odom_publish_frequency>
        <publish_odom>true</publish_odom>
        <publish_odom_tf>false</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
        
        <!-- Topic Configuration -->
        <topic>/cmd_vel</topic>
        <odom_frame_id>${prefix}/odom</odom_frame_id>
        <robot_base_frame_id>${prefix}/base_footprint</robot_base_frame_id>
        <!-- output -->
        <xacro:if value="${odometry_source == 'encoders'}">
            <odom_topic>$(arg wheel_odom_topic)</odom_topic>
            <tf_topic>/tf</tf_topic>
        </xacro:if>
        <frame_id>odom</frame_id>
        <child_frame_id>base_footprint</child_frame_id>
      </plugin>
    </gazebo>


    <!-- ............................. ground truth .................................... -->

    <xacro:if value="${odometry_source == 'world'}">
      <gazebo>
          <plugin filename="libignition-gazebo6-odometry-publisher-system"
              name="ignition::gazebo::systems::OdometryPublisher">
              <odom_frame>odom</odom_frame>
              <robot_base_frame>base_footprint</robot_base_frame>
              <odom_topic>$(arg wheel_odom_topic)</odom_topic>
              <tf_topic>/tf</tf_topic>
              <dimensions>2</dimensions>
              <odom_publish_frequency>50</odom_publish_frequency>
          </plugin>
      </gazebo>
    </xacro:if>

    <!-- IMU Sensor -->
    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>/imu</topic>
        <ignition_frame_id>imu_link</ignition_frame_id>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>


    <!-- <gazebo reference="ultraFL_link">
      <sensor type="ray" name="sensor_fl_range">
          <always_on>true</always_on>
          <visualize>true</visualize>
          <update_rate>10</update_rate>
          <topic>ultraFL</topic>
          <ignition_frame_id>ultraFL_frame_id</ignition_frame_id>
          <ray>
              <scan>
                <horizontal>
                    <samples>1</samples>
                    <resolution>1</resolution>
                    <min_angle>-0.174533</min_angle>
                    <max_angle>0.174533</max_angle>
                </horizontal>
                <vertical>
                    <samples>1</samples>
                    <resolution>1</resolution>
                    <min_angle>-0.174533</min_angle>
                    <max_angle>0.174533</max_angle>
                </vertical>
              </scan>
              <range>
                  <min>0.05</min>
                  <max>4.0</max>
                  <resolution>0.05</resolution>
              </range>
              <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.005</stddev>
              </noise>
          </ray>
      </sensor>
    </gazebo>     -->

    <!-- LIDAR Sensor -->
    <gazebo reference="LidarFR_link">
      <sensor name="LidarFR" type="gpu_lidar">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>${two_d_lidar_update_rate}</update_rate>
        <topic>scan_right</topic>
        <ignition_frame_id>lidarFR_frame_id</ignition_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>${radians(lidarFR_min_angle)}</min_angle>	
              <max_angle>${radians(lidarFR_max_angle)}</max_angle>	
            </horizontal>
          </scan>
          <range>
            <min>${two_d_lidar_min_range}</min>
            <max>${two_d_lidar_max_range}</max>
            <resolution>0.015000</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>


	<gazebo reference="LidarBL_link">
      <sensor name="LidarBL" type="gpu_lidar">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>${two_d_lidar_update_rate}</update_rate>
        <topic>scan_left</topic>
        <ignition_frame_id>lidarBL_frame_id</ignition_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>${radians(lidarBL_min_angle)}</min_angle>	
              <max_angle>${radians(lidarBL_max_angle)}</max_angle>	
            </horizontal>
          </scan>
          <range>
            <min>${two_d_lidar_min_range}</min>
            <max>${two_d_lidar_max_range}</max>
            <resolution>0.015000</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>

    
    <!-- CAMERA -->
    <gazebo reference="CameraFR_link">
      <sensor name="depth_camera_right" type="rgbd_camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>5.0</update_rate>
        <topic>depth_camera_right</topic>
        <ignition_frame_id>camera_link</ignition_frame_id>
        <camera_info_topic>depth_camera_right/camera_info</camera_info_topic>
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>3</far>
          </clip>
        </camera>
        <baseline>0.2</baseline>
        <pointCloudCutoff>0.5</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </sensor>
    </gazebo>
	<gazebo reference="CameraFL_link">
      <sensor name="depth_camera_left" type="rgbd_camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>5.0</update_rate>
        <topic>depth_camera_left</topic>
        <ignition_frame_id>camera_link</ignition_frame_id>
        <camera_info_topic>depth_camera_left/camera_info</camera_info_topic>
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.05</near>
            <far>3</far>
          </clip>
        </camera>
        <baseline>0.2</baseline>
        <pointCloudCutoff>0.5</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>